body {
    margin: 0;
    background-image: url(./images/bg.jpg);
    font-size: 14px;
}

img {
    display: block;
}

iframe {
    display: block;
    margin: 0 auto;
}

.box {
    width: 1000px;
    margin: 0 auto;
    /* 間距(auto)自動偵測必須搭配寬度(width) */
}

.btn {
    float: left;
    /* 用float浮動區塊,覆蓋原本的block.寬高自動抓內容的尺寸 */
}

.col {
    font-size: 14px;
    float: left;
    width: 438px;
    /* 文字會自動延展.所以要自訂尺寸 */
    border: 1px solid rgb(70, 70, 70);
    margin: 10px 10px 30px;
    /* 四個值:上右下左-順時針 */
    padding: 20px;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 150%;
    /* 相等 font-size: 1.5em */
}

p {
    font-size: 1em;
    /* <p>預設font-size: 1em */
    font-family: Helvetica;
}

li {
    font-size: 1em;
    font-family: Helvetica;
}

.col span {
    /* 行內元素:主要用來修改樣式,不會被優先搜尋 */
    color: hwb(240 10% 40%);
}

hr {
    border: 1px dotted rgb(70, 70, 70);
}

address {
    font-style: normal
}

.footer {
    clear: both;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    /* 單純置中文字 */
    border-top: 1px solid rgb(70, 70, 70);
    margin: 0 auto;
    padding: 30px 0;
    font-family: "Lucida Console"
}