@use 'variables' as *;
@use 'function' as *;

/* 共用區 */
img {
    display: block;
    width: 100%;
}

//偽元素存在於內容區範圍
// .title::after { 
//     content: '';
//     display: block;
//     background-color: map-get( $color , dark );
//     height: 3px;
// }
.title {
    position: relative;
    @include bordered-l;
    padding-left: 1.5rem;
    margin: 85px 0 35px;

    &::before {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: map-get($color , dark);
    }

    &::after {
        content: '';
        position: absolute;
        left: 11.5rem; //定位要相對於文字字級可用rem單位
        bottom: 2px;
        width: calc(100% - 11.5rem);
        height: 3px;
        background-color: map-get($color , dark);
    }

    h3 {
        line-height: 1; //bs預設h3行高為1.2，我改為1

        span {
            font: {
                size: 1rem;
            }
        }
    }
}

// 傾斜同一張遮色片
.mask-tilt {
    mask-image: url(../images/mask.svg);
    mask-position: center;
    mask-repeat: no-repeat;

    @media ($media-md) {
        mask-size: 90% 100%;
    }

    @media ($media-lg) {
        mask-size: 92% 100%;
    }
}

// 不同圖片遮色片
.mask {
    mask-size: 100% 100%;
    mask-position: center;
    mask-repeat: no-repeat;
}

.blobs-1 {
    mask-image: url(../images/blobs-1.svg);
}

.blobs-2 {
    mask-image: url(../images/blobs-2.svg);
}

.blobs-3 {
    mask-image: url(../images/blobs-3.svg);
}

/* 最新商品 */

.list-box {
    display: flex;

    .item {
        flex: 1;
    }
}

#new {

    a {
        position: relative;
        color: map-get($color , light);

        &:hover {
            h2 {
                opacity: 1;
            }
        }

        h2 {
            transition: .4s;
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: map-get($color , alpha-b-40);
        }
    }
}

// 熱門商品
#hot {
    .col {
        position: relative;

        h2 {
            position: absolute;
            width: 100%;
            top: calc(50% - 2rem);
            left: calc(50% - 7.5rem);
            z-index: 2;
            font-size: map-get($font-size , xxl);
            color: map-get($color , light);
            text-shadow: 1px 1px 3px map-get($color , dark);
        }

        .clip {
            position: relative;
            display: block;
            // clip-path: circle(50%); //圓形
            // clip-path: ellipse(50% 30% at 50% 50%); //xy50%為置中
            // clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); //平行四邊形
            clip-path: polygon(0% 0%, 100% 0%, 50% 100%); //倒三角
            
            // &::before {
            //     content: '';
            //     background-color: transparent;
            //     transition: .4s;
            // }
            // &:hover { //hover才加入before
            //     &::before {
            //         content: '';
            //         position: absolute;
            //         width: 100%;
            //         height: 100%;
            //         z-index: 999;
            //         background-color: map-get($color , alpha-b-40);
            //     }
            // }

            div {
                //一開始是透明
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;
                background-color: transparent;
                transition: .4s;

                &:hover {
                    //滑入後有顏色
                    background-color: map-get($color , alpha-b-40);
                }
            }
        }
    }
}

// 推薦商品
#acc {
    .title {
        &::after {
            left: 15rem;
            width: calc(100% - 15rem);
        }
    }
}

#tabs {
    width: 80%;
    margin: 0 auto;

    .content {
        h2 {
            display: inline-block;
            color: map-get($color , light );
            background-color: map-get($color , dark );
            padding: $interval-s  $interval-m;
            box-shadow: $box-shadow-mark;
        }
        data {
            display: block;
        }
        mark {
            background-color: map-get($color , mark );;
        }
    }
}
.tabs-btn {
    display: flex;

    li {
        flex: 1;
    }
}

// jquery ui tabs

// 頁籤內容
.ui-tabs .ui-tabs-panel {
    display: flex;

    > div {
        flex: 1;
    }
}




// 取消頁籤按鈕容器樣式
.ui-widget-header {
    border: none;
    background: transparent;
}
// 修改頁籤按鈕樣式
.ui-tabs .ui-tabs-nav li{
    border-bottom-width: 1px;
    border-radius: 3px;
}
// 修改active的樣式
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid map-get($color , deep);
    background: transparent;
}
// 取消圖片間距
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0;
}
