@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");
/* 重置所有標籤的樣式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 重置字體 */
body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* 重置列表 */
ul, ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* 重置連接 */
a {
  text-decoration: none;
}

main, main section {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Catamaran", sans-serif;
  color: #fff;
}

.basic-btn {
  background-color: #fff;
  color: #070707;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 10px 25px;
  border-radius: 99px;
  border: 3px solid transparent;
  transition: 0.4s ease-in-out;
  display: inline-block;
}
.basic-btn:hover {
  background-color: #070707;
  color: #fff;
  border: 3px solid #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  flex-direction: column;
}
main section {
  width: 100%;
  height: 100vh;
}

#banner {
  background-image: url(../images/bg-pattern-logos.png), linear-gradient(165deg, #e70112 15%, #b20722 75%);
}
#banner > div {
  flex: 1;
}
#banner .content {
  padding: 50px;
}
#banner .content h2 {
  font-size: 11rem;
  font-weight: 900;
  line-height: 7rem;
}
#banner .content h2 span {
  font-size: 1.8rem;
  font-weight: 800;
}
#banner .content p {
  font-size: 1.5rem;
  line-height: 1.2em;
  margin-bottom: 25px;
}

.photo {
  position: relative;
  height: 100%;
}
.photo figure {
  position: absolute;
}
.photo .mario1 {
  width: 55%;
  left: -5%;
  top: 100vh;
  animation: mario1 12s 0s ease-in-out both infinite;
}
@keyframes mario1 {
  0% {
    top: 100vh;
    left: -5%;
  }
  10% {
    top: 10vh;
    left: -5%;
  }
  20% {
    top: 10vh;
    left: -5%;
  }
  30% {
    top: 100vh;
    left: -5%;
  }
  100% {
    top: 100vh;
    left: -5%;
  }
}
.photo .luigi {
  width: 45%;
  top: 25vh;
  right: 12%;
  animation: luigi 12s 0.35s ease-in-out both infinite;
}
@keyframes luigi {
  0% {
    top: 100vh;
    right: 12%;
  }
  10% {
    top: 25vh;
    right: 12%;
  }
  20% {
    top: 25vh;
    right: 12%;
  }
  30% {
    top: 100vh;
    right: 12%;
  }
  100% {
    top: 100vh;
    right: 12%;
  }
}
.photo .brick {
  width: 80%;
  top: 5vh;
  right: -5%;
  animation: brick 12s 0.5s ease-in-out both infinite;
}
@keyframes brick {
  0% {
    top: 5vh;
    right: -100%;
  }
  10% {
    top: 5vh;
    right: -5%;
  }
  20% {
    top: 5vh;
    right: -5%;
  }
  30% {
    top: 5vh;
    right: -100%;
  }
  100% {
    top: 5vh;
    right: -100%;
  }
}
.photo .mario2 {
  width: 60%;
  top: 15vh;
  left: -7%;
  animation: mario2 12s 4s ease-in-out both infinite;
}
@keyframes mario2 {
  0% {
    top: 100vh;
    left: -7%;
  }
  10% {
    top: 15vh;
    left: -7%;
  }
  20% {
    top: 15vh;
    left: -7%;
  }
  30% {
    top: 100vh;
    left: -7%;
  }
  100% {
    top: 100vh;
    left: -7%;
  }
}
.photo .peach {
  width: 35%;
  top: 30vh;
  right: 25%;
  animation: peach 12s 4.35s ease-in-out both infinite;
}
@keyframes peach {
  0% {
    top: 100vh;
    right: 25%;
  }
  10% {
    top: 30vh;
    right: 25%;
  }
  20% {
    top: 30vh;
    right: 25%;
  }
  30% {
    top: 100vh;
    right: 25%;
  }
  100% {
    top: 100vh;
    right: 25%;
  }
}
.photo .pipe {
  width: 40%;
  top: 5vh;
  right: 2%;
  animation: pipe 12s 4.5s ease-in-out both infinite;
}
@keyframes pipe {
  0% {
    top: 100vh;
    right: 2%;
  }
  10% {
    top: 5vh;
    right: 2%;
  }
  20% {
    top: 5vh;
    right: 2%;
  }
  30% {
    top: 100vh;
    right: 2%;
  }
  100% {
    top: 100vh;
    right: 2%;
  }
}
.photo .mario3 {
  width: 80%;
  top: 20vh;
  left: -12%;
  animation: mario3 12s 8s ease-in-out both infinite;
}
@keyframes mario3 {
  0% {
    top: 100vh;
    left: -12%;
  }
  10% {
    top: 20vh;
    left: -12%;
  }
  20% {
    top: 20vh;
    left: -12%;
  }
  30% {
    top: 100vh;
    left: -12%;
  }
  100% {
    top: 100vh;
    left: -12%;
  }
}
.photo .toad {
  width: 35%;
  top: 30vh;
  right: 22%;
  animation: toad 12s 8.35s ease-in-out both infinite;
}
@keyframes toad {
  0% {
    top: 100vh;
    right: 22%;
  }
  10% {
    top: 30vh;
    right: 22%;
  }
  20% {
    top: 30vh;
    right: 22%;
  }
  30% {
    top: 100vh;
    right: 22%;
  }
  100% {
    top: 100vh;
    right: 22%;
  }
}
.photo .star {
  width: 50%;
  top: 5vh;
  right: 2%;
  animation: star 12s 8.5s ease-in-out both infinite;
}
@keyframes star {
  0% {
    top: 100vh;
    right: 2%;
  }
  10% {
    top: 5vh;
    right: 2%;
  }
  20% {
    top: 5vh;
    right: 2%;
  }
  30% {
    top: 100vh;
    right: 2%;
  }
  100% {
    top: 100vh;
    right: 2%;
  }
}/*# sourceMappingURL=styles.css.map */