@charset "UTF-8";
/* UTF-8一定要在行數1 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* google fonts一定要在行數1 */
@font-face {
    font-family: Bion;
    src: url(../webfonts/Bion-Bold.otf);
}

/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 不累加內距與邊框 */
}

/* 重置字體 */
body {
    color: #000;
    font-family: YakuHanJP, dnp-shuei-gothic-gin-std, "游ゴシック", "Yu Gothic", YuGothic, "メイリオ", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Lucida Grande", "Osaka", "Verdana", "ＭＳ Ｐゴシック", sans-serif;
    font-feature-settings: "palt";
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: .07em;
    line-height: 1;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    display: block;
    /* 將預設 inline 改為 block */
    text-decoration: none;
    color: #444;
}

main {
    margin: 100px;
}

#top {

    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;

}

li {
    margin: 30px;
}

h2 {
    font-family: "acumin-pro", sans-serif;
    font-weight: 700;
    letter-spacing: -.01em;
    font-size: 4rem;
    color: #000;
}
figure {
    width: 100%;

}

.s2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    letter-spacing: .08em;
}