@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* 這是首頁的 */
* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

:root {
  --small-cpation: 1.2rem;
  --K2D-body: 1.6rem;
  --body-text: 1.6rem;
  --body-semibold: 2rem;
  --body-title: 1.8rem;
  --subtitle: 1.4rem;
  --heading-h1: 2.4rem;
  --black-500-border: #d9d9d9;
  --black-800-main-text: #4b4b4b;
  --black-700: #6f6f6f;
  --black-600:#909090;
  --white: #fff;
  --primary-200: #dddafa;
  --primary-400: #a797e7;
  --primary-500: #856be7;
  --secondary-100: #e7f0ce;
  --secondary-300: #ABD795;
  --secondary-400: #7fc179;
  --yellow: #ffee92;
  /* 灰階 */
  --card:rgba(249, 249, 249, 0.9);
  --black-500: rgba(211, 211, 211, 0.447);
  --black-600: rgb(144, 144, 144);
  --black-700: rgb(111, 111, 111);
  --purple-100: rgb(236, 235, 252);
  --purple-200: rgb(221, 218, 250);
  --purple-400: rgb(167, 151, 231);
  --white: rgba(255, 255, 255);
  /* 透明 */
  --shadow: 0px 4px 20px rgba(194, 191, 209, 0.4);
  --btn-shadow: 4px 4px 20px rgba(214, 213, 221, .6),-4px -4px 10px rgba(255, 255, 255, 0.5);
  --inset-shadow: 0 4px 10px rgba(214, 213, 221, .6);
  /* 漸層 */
  --gradient-card: rgb(244, 244, 244, .25), rgb(255, 255, 255, .25);
  --gradient-btn: rgba(203, 194, 212, 0.2), rgba(249, 249, 249, 0);
  --gradient-sky-purple: rgb(91, 97, 149), rgb(157, 134, 159);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
  letter-spacing: 0.12em;
}

/* 字體設定 */
body {
  /* color: #FFFFFF; */
  font-size: 100%;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

main {
  display: flex;
  padding: 0 10%;
}
main .member-left {
  width: 27.2rem;
  /* margin: 80px 0 0 355px; */
}
main .member-left .li {
  display: flex;
  flex-direction: column;
}
main .member-left .li a {
  color: #6f6f6f;
  margin-bottom: 8px;
  line-height: 60px;
  width: 100%;
  border-radius: 12px;
  padding-left: 20px;
}
main .member-left .li a .big-item {
  font-size: 2.4rem;
  font-weight: 800;
}
main .member-left .li a .big-item:hover {
  color: #fff;
  background-color: #a797e7;
}
main .member-left .li a .small-item {
  font-size: 2rem;
}
main .member-left .li a .small-item:hover {
  color: #856be7;
  background-color: #dddafa;
}
main .member-left .li .dropdown {
  display: none; /* 初始隱藏下拉選單 */
}
main .member-left .li .dropdown li {
  display: flex;
  flex-direction: column;
}
main .member-left .li .dropdown li.active .dropdown {
  display: block; /* 顯示下拉選單 */
}
main .member-left li {
  display: flex;
}
main .member-left li .member-management {
  flex-direction: column;
}
main .member-container {
  width: 686px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: -4px -4px 20px rgba(255, 255, 255, 0.5), 4px 4px 20px rgba(0, 0, 0, 0.2);
}
main .member-container .title {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}/*# sourceMappingURL=123.css.map */