@charset "UTF-8";
/* UTF-8一定要在行數1 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* google fonts一定要在行數1 */
@font-face {
	font-family: Bion;
	src: url(../webfonts/Bion-Bold.otf);
}

/* 重置所有標籤的樣式 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* 不累加內距與邊框 */
}

/* 重置字體 */
body {
	font-family:
		/*西文*/
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
		/*中文*/
		"蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
	font-size: 100%;
	line-height: 1.5;
	/* background-color: rgb(196, 214, 245); */
	/* background-image: url(../images/banner_2.jpg);
	background-clip: padding-box ;{
		width: 250px;
		height: 200px;
	} */
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

/* 重置列表 */
ul,
ol {
	list-style: none;
}

/* 重置圖片 */
img {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
}

/* 重置連接 */
a {
	display: block;
	/* 將預設 inline 改為 block */
	text-decoration: none;
	color: #444;
}

/* 共用區 */
.btn-s {
	background-color: rgb(255, 255, 255);
	color: #444;
	width: auto !important;
	height: 35px;
	line-height: 30px;
	padding: 0 20px;
	border-radius: 99px;
	transition: .35s ease-in-out;
}

.btn-s:hover {
	background-color: #444;
	color: #ffffff;
	transition: 1s ease-in-out;
}

/* 頁首區 */
#topbar {
	/* position > display */
	/* 固定定位，不會跟著捲軸走 */
	position: fixed;
	z-index: 999;
	/* 定位會變成抓內容尺寸，需手動設定回 w100% */
	width: 100%;
	/* 預設主軸為水平 */
	display: flex;
	/* 主軸均分貼齊頭尾 */
	justify-content: space-between;
	align-items: center;
	padding: 30px;
}

.logo {
	/* 相對於父元素 */
	width: 65px;
}

/* .logo img {
	filter: drop-shadow(2px 3px rgba(255, 255, 255, 0.6));
} */

.navigation {
	display: flex;
	/* 主軸垂直 */
	flex-direction: column;
	/* 副軸靠左 */
	align-items: flex-end;
}

.navigation .icon {
	display: flex;
}

.navigation .icon a {
	width: 35px;
	height: 35px;
	/* border: solid none; */
	margin-left: 10px;
	transition: all .35s ease-in-out;
}

/* 只有svg圖檔會自動等比例縮放,其他圖檔會維持原始比例裁切 */
/* 用其他圖檔要加 background-size: 100%; */
.icon-fb {
	background-image: url(../images/icon-fb.svg);
}

.icon-fb:hover {
	background-image: url(../images/icon-fb-hover.svg);
}

.icon-ig {
	background-image: url(../images/icon-ig.svg);
}

.icon-ig:hover {
	background-image: url(../images/icon-ig-hover.svg);
}

.icon-line {
	background-image: url(../images/icon-line.svg);
}

.icon-line:hover {
	background-image: url(../images/icon-line-hover.svg);
}

.navigation .menu {
	display: flex;
	margin: 15px 0;
	/* 控制父層外距 */
	padding: 10px;
	border-radius: 99px;
}

.navigation .menu li {
	border-left: solid 1px #444;
}

.navigation .menu li:first-child {
	border: none;
}

.navigation .menu a {
	color: #444;
	font-size: .9rem;
	line-height: 1;
	margin: 0 20px;
	padding: 2px;
	/* 控制子層的外距 */
	border-bottom: solid 2px transparent;
	/* font-style: italic; */

}

.navigation .menu a:hover {
	border-bottom: solid 1px #444;
	transition: .35s ease-in-out;
	/* color: rgb(255, 255, 255);
	background-color: #444; */
}

/* 主要內容共用區 */
section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}

.title h2 {
	font-family: Bion, sans-serif;
	font-weight: bold;
	font-size: 3rem;
	letter-spacing: .1rem;
	border-bottom: 3px solid #444;
	color: #444;
	margin-bottom: 10px;
}

.title h3 {
	font-family: "Noto Sans TC", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-size: 1.2rem;
	letter-spacing: .3rem;
	color: #444;
	line-height: 2.5rem;
}

.box__list {
	width: 80%;
	display: flex;
}

.box__list .item {
	flex: 1;
	margin: 0 15px;
}

.box__list h1{
	font-size: 1.3rem;
	font-weight: 600;
}
.box__list p {
	font-size: .9rem;
	text-align: justify; /* 齊行：建議中文再使用，英文會造成單字間距均分 */
}
/* 最新消息區 */


/* 聯絡我們區 */
#contact {
	position: relative;	/* 專門做為 absolute 的定位依據 */
	overflow: hidden;
	/* 背景影像基本設定 */
	background-image: url(../images/bg_contact.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* 固定背景 */
	background-attachment: fixed;
}

/* 裝飾花花 */
.flower_r {
	position: absolute;	/* 絕對定位 */
	left: -60px;
	bottom: -100px;
	width: 300px;
	transform: rotate(15deg);
}

.flower_w {
	position: absolute;	/* 絕對定位 */
	right: -50px;
	top: 150px;
	width: 300px;
	transform: rotate(-35deg);
}


#form--contact {
	font-family: "Noto Sans TC", sans-serif;
	display: flex;
	flex-direction: column;  /* 主軸(垂直) */
	align-items: center; /* 副軸(水平)置中 */
	width: 25%;
}

#form--contact label {
	font-size: .9rem;
	font-weight: bold;
	line-height: 2;
	margin-top: 1rem;
	color: #444;
	width: 100%;
}


#form--contact input,
#form--contact textarea {
	width: 100%;
	padding: 10px;
	color: #313131;
	font-weight: 600;
	font-size: .9rem;
	/* font-family: "Noto Sans TC", sans-serif; */
	border-radius: 10px;
	/* 取消表單元件的預設背景色 */
	background-color: transparent;
	border: none;
}

#form--contact input:focus,
#form--contact textarea:focus {
	outline: 2px solid rgb(240, 231, 231);
}

#form--contact input::placeholder,
#form--contact textarea::placeholder {
	font-size: .8rem;
	font-weight: 400;
	color: #787a81;
}

#form--contact small {
	font-size: .8rem;
	color: #313131;
	padding: 15px 5px;
}

#form--contact input,
#form--contact textarea,
#topbar .menu,
#btn__contact--submit {
	/* 玻璃擬態效果 */
	background-image:
		linear-gradient(120deg, rgba(255, 255, 255, 0.5) 10%,
			rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
	box-shadow:
		0 2px 5px rgba(182, 182, 203, 0.741),
		inset -1px 0 3px rgb(240, 231, 231);
	backdrop-filter: blur(5px);
}

/* 動態按鈕 */
#btn__contact--submit {	
	border-radius: 50px;
	display: flex;		/* 定義起始位置 */
	justify-content: center;
	align-items: center;
	cursor: pointer;	/* 改變游標的樣式 => 箭頭變成手指 */
	height: 40px;
	width: 200px;
	/* 取消預設值 */
	border: none;
	background-color: rgba(255, 255, 255, 0.273)/* transparent */;
	/* position: relative; */
	/* outline: none; */
	/* text-decoration: none;  取消文字裝飾底線 */
	/* text-transform: uppercase;	設定字母大寫 */
	/* opacity: 1;		透明度1=100% 0.1=10% 整個元件包含字調整透明度 */
}

#btn__contact--submit span {
	color: #444;
	font-size: .8rem;
	font-weight: 500;
	/* 常用 */
	letter-spacing: 1.5rem;	/* 置中時，最後一個字距會把字推出去歪一邊 */
	padding-left: 1.5rem;		/* 所以要用 padding 推回來 */
}

#btn__contact--submit:hover {
	animation: rotate 0.7s ease-in-out both;
	border: 1px solid white;
}

#btn__contact--submit:hover span {
	animation: storm 0.7s ease-in-out both;
	animation-delay: 0.06s;
}

/* 可參考其他轉換效果: https://www.w3schools.com/cssref/css3_pr_transform.php */
@keyframes rotate {
	0% {
		transform: rotate(0deg) /* translate3d(0, 0, 0) */;
	}

	25% {
		transform: rotate(3deg) /* translate3d(0, 0, 0) */;
	}

	50% {
		transform: rotate(-3deg) /* translate3d(0, 0, 0) */;
	}

	75% {
		transform: rotate(1deg) /* translate3d(0, 0, 0) */;
	}

	100% {
		transform: rotate(0deg) /* translate3d(0, 0, 0) */;
	}
}

@keyframes storm {
	0% {
		transform: translate3d(0, 0, 0) /* translateZ(0) */;
	}

	25% {
		transform: translate3d(4px, 0, 0) /* translateZ(0) */;
	}

	50% {
		transform: translate3d(-3px, 0, 0) /* translateZ(0) */;
	}

	75% {
		transform: translate3d(2px, 0, 0) /* translateZ(0) */;
	}

	100% {
		transform: translate3d(0, 0, 0) /* translateZ(0) */;
	}
}

