@charset "UTF-8";
/* UTF-8一定要在行數1 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* google fonts一定要在行數1 */
@font-face {
	font-family: Bion;
	src: url(../webfonts/Bion-Bold.otf);
}

/* 重置所有標籤的樣式 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* 不累加內距與邊框 */
}

/* 重置字體 */
body {
	font-family:
		/*西文*/
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
		/*中文*/
		"蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
	font-size: 100%;
	line-height: 1.5;
	background-color: rgb(255, 255, 255);
	/* background-image: url(../images/banner_2.jpg);
	background-clip: padding-box ;{
		width: 250px;
		height: 200px;
	} */
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

/* 重置列表 */
ul,
ol {
	list-style: none;
}

/* 重置圖片 */
img {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
}

/* 重置連接 */
a {
	display: block;
	/* 將預設 inline 改為 block */
	text-decoration: none;
	color: #444;
}


/* 共用區 */
.btn-s {
	background-color: rgb(255, 255, 255);
	width: auto !important;
	height: 35px;
	line-height: 30px;
	padding: 0 20px;
	border-radius: 30px;
}

.btn-s:hover {
	background-color: #444;
	color: #ffffff;
	transition: 1s ease-in-out;
}

/* 頁首區 */
#topbar {
	/* 預設主軸為水平 */
	display: flex;
	/* 主軸均分貼齊頭尾 */
	justify-content: space-between;
	align-items: top;
	padding: 30px;
}

.logo {
	/* 相對於父元素 */
	width: 70px;
}

.navigation {
	display: flex;
	/* 主軸垂直 */
	flex-direction: column;
	/* 副軸靠左 */
	align-items: flex-end;
}

.navigation .icon a {
	width: 35px;
	height: 35px;
	/* border: solid none; */
	margin-left: 10px;
	transition: all .35s ease-in-out;
}

.navigation .icon {
	display: flex;
}

.navigation .menu {
	display: flex;
	margin: 15px 0;
	/* 控制父層外距 */
}

.navigation .menu li {
	border-right: solid 1px #444;
}

.navigation .menu li:last-child {
	border-right: none;
}

.navigation .menu a {
	/* color: #444; */
	font-size: .8rem;
	line-height: 1;
	margin: 0 20px;
	border-bottom: solid 2px transparent;
	/* font-style: italic; */

}

.navigation .menu a:hover {
	border-bottom: solid 2px #444;
	transition: 1s ease-in-out;
	/* color: rgb(183,207,177);
	background-color: #444; */
}

/* 只有svg圖檔會自動等比例縮放,其他圖檔會維持原始比例裁切 */
/* 用其他圖檔要加 background-size: 100%; */
.icon-fb {
	background-image: url(../images/icon-fb.svg);
}

.icon-fb:hover {
	background-image: url(../images/icon-fb-hover.svg);
}

.icon-ig {
	background-image: url(../images/icon-ig.svg);
}

.icon-ig:hover {
	background-image: url(../images/icon-ig-hover.svg);
}

.icon-line {
	background-image: url(../images/icon-line.svg);
}

.icon-line:hover {
	background-image: url(../images/icon-line-hover.svg);
}

/* 主要內容共用區 */
section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title h2 {
	font-family: Bion, sans-serif;
	font-weight: 900;
	font-size: 3rem;
	letter-spacing: .1rem;
	border-bottom: 2px solid #444 ;
	color: #444;
	margin-bottom: 10px;
}

.title h3 {
	font-family: "Noto Sans TC", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-size: 1.2rem;
	letter-spacing: .3rem;
	color: #444;
	line-height: 2.5rem;
}
/* 聯絡我們區 */
#contact{
	/* position: relative; */
	background-image: url(../images/bg_contact.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#form--contact {
	display: flex;
	flex-direction: column;
	width: 25%;
}
#form--contact label {
	font-size: .8rem;
	line-height: 2;
	margin-top: 1rem;
}

#form--contact input, #form--contact textarea {
	padding: 20px;
	color: #8f6b6d;
	border: none;
	border-radius: 4px;
	font-size: .8rem;
	font-weight: 200;
}

#form--contact input::placeholder, #form--contact textarea::placeholder  {
	font-size: .8rem;
	font-weight: 200;
	color: #d1babb;
}
#form--contact small {
	font-size: .8rem;
	padding: 8px 5px;
	color: #605555;
}


