body {
    margin: 0;
    background-image: url(./images/bg.jpg);
    font-size: 12px;
}
img {
    display: block;
}
.box {
    width: 1000px;
    margin: 0 auto; /* 間距(auto)自動偵測必須搭配寬度(width) */
}
.btn {
    float: left; /* 用float浮動區塊覆蓋原本的block */
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 150%; /* 相等 font-size: 1.5em */
}
p {
    font-size: 1em; /* <p>預設font-size: 1em */
}