@use 'reset';
@use 'variables' as *;

main {
    display: flex;
    padding: 0 10%;
    font-family: $font-family-tc;

    .member-left {
        width: 27.2rem;
        box-shadow: $box-shadow;
        /* margin: 80px 0 0 355px; */
    
        .li {
            display: flex;
            flex-direction: column;
            a {
                color: $black-700 ; 
                margin-bottom: 8px;
                line-height: 60px;
                width: 100%;
                border-radius: 12px;
                padding-left: 20px;

                .big-item {
                    font: {
                        size: $heading-h1;
                        weight: 800;
                    }
                    color: $primary-400;
                    &:hover {
                        color: $white;
                        background-color: $primary-400;
                    }
                }
                .small-item {
                    font: {
                        size: $body-semibold;
                    }
                    &:hover {
                        color: $primary-500;
                        background-color: $primary-200;
                    }
            }
        }
        .dropdown {
            display: none; /* 初始隱藏下拉選單 */
    
            li {
                display: flex;
                flex-direction: column;
                
                &.active{
                    
                    .dropdown {
                        display: block; /* 顯示下拉選單 */
                        
                        
                    }
                }
                }
            }
        }
    

        li {
            display: flex;
            
            
            .member-management {
                flex-direction: column;
            }
        }
    }

    .member-container {
        width: 686px;
        margin: 20px auto;
        padding: 20px;
        background: {
            color: $primary-400;
        }
        border-radius: 12px;
        box-shadow: $box-shadow;
        .title {
            font: {
                size: $heading-h1;
                weight: bold;
            }
            text-align: center;
            margin-bottom: 20px;
        }
    }
}
