$color: (
    black-500-border: #d9d9d9,
    black-700: #6f6f6f,
    white: #fff,
    
    primary-200: #dddafa,
    primary-400: #a797e7,
    primary-500: #856be7,
    secondary-100: #e7f0ce,
    secondary-400: #7fc179,
    
    yellow: #ffee92
);

$box-shadow: -4px -4px 20px rgba(255, 255, 255, 0.5), 4px 4px 20px rgba(0, 0, 0, 0.2);
    
$font-size: (
    small-cpation: 1.2rem
    K2D-body: 1.6rem,
    body-text: 1.6rem,
    body-semibold: 2rem,
    body-title: 1.8rem,
    subtitle: 1.4rem,
    heading-h1: 2.4rem, 
);

$font-family-en:'K2D', "san-serif";
$font-family-tc:"Noto Sans TC", "san-serif";